.basket {
    height: 400px;
    width: 100%;
}

.basket-title {
    font-size: xx-large;
    background-color: rgb(28, 38, 47);
    min-height: 10%;
    margin: .5rem;
}

.basket-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    min-height: 80%;
    margin: .5rem
}

.basket-body::after {
    content: '';
    flex-grow: 1000000000;
}

.basket-header {
    display: flex;
    align-content: space-around;
}

.actions {
    margin: .5rem;
}